body {
    height: 100%;
}

td {
    text-align: center;
}

.sortorder:after {
    content: '\25b2';
}

.sortorder.reverse:after {
    content: '\25bc';
}

.list-jogos {
    max-height: 667px;
    overflow: auto;
}

@viewport {
    width: device-width;
}
