<div ng-controller="FacilCtrl">
    <h3 class="page-header">Facil</h3>
    <div class="col-md-6">
        <div class="list-group">
            <div class="list-group-item">
                1. baixe o zip aqui:
                <a href="http://www1.caixa.gov.br/loterias/_arquivos/loterias/D_lotfac.zip"
                   download="D_lotfac.zip">
                    D_lotfac.zip
                </a>
            </div>
            <div class="list-group-item">
                2. faça o upload do arquivo aqui:
                <input type="file" jogos="jogos" iszip="iszip" fileread="arquivo">
            </div>
            <div class="list-group-item">
                <button type="button" class="btn btn-lg btn-primary" ng-click="simularMenorColisao()">
                    Gerar Menor Colisão
                </button>
                 Dezenas: <input type="number" ng-model="dezenas" placeholder="15" step="1" min="15" max="18">
                <div class="list-group">
                    <div class="list-group-item">
                        <span ng-repeat="j1 in jogo1 track by $index">&nbsp;{{j1}}</span>
                        <br />
                        ganharia: {{ganhariaJogo1}} jogos de 15
                        <br />
                        ganharia: {{ganhariaJogo1_14}} jogos de 14
                        <br />
                        ganharia: {{ganhariaJogo1_13}} jogos de 13
                        <br />
                        ganharia: {{ganhariaJogo1_12}} jogos de 12
                        <br />
                        ganharia: {{ganhariaJogo1_11}} jogos de 11
                    </div>
                    <div class="list-group-item">
                        <span ng-repeat="j2 in jogo2 track by $index">&nbsp;{{j2}}</span>
                        <br />
                        ganharia: {{ganhariaJogo2}} jogos de 15
                        <br />
                        ganharia: {{ganhariaJogo2_14}} jogos de 14
                        <br />
                        ganharia: {{ganhariaJogo2_13}} jogos de 13
                        <br />
                        ganharia: {{ganhariaJogo2_12}} jogos de 12
                        <br />
                        ganharia: {{ganhariaJogo2_11}} jogos de 11
                    </div>
                    <div class="list-group-item">
                        <span ng-repeat="j3 in jogo3 track by $index">&nbsp;{{j3}}</span>
                        <br />
                        ganharia: {{ganhariaJogo3}} jogos de 15
                        <br />
                        ganharia: {{ganhariaJogo3_14}} jogos de 14
                        <br />
                        ganharia: {{ganhariaJogo3_13}} jogos de 13
                        <br />
                        ganharia: {{ganhariaJogo3_12}} jogos de 12
                        <br />
                        ganharia: {{ganhariaJogo3_11}} jogos de 11
                    </div>
                </div>
            </div>
        </div>
        <input id="ganhadora" type="checkbox" ng-model="ganhadora" ng-click="filterBola()"><label for="ganhadora">Somente ganhadoras</label>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td></td>
                    <td ng-repeat="numbola in totalBolas">{{numbola}}</td>
                </tr>
                <tr ng-repeat="numero in numeros">
                    <td>{{numero}}</td>
                    <td ng-class="{'success' : ( jogos | filter: filterBola(numbola, numero, ganhadora)).length > 50}" ng-repeat="numbola in totalBolas">{{ ( jogos | filter: filterBola(numbola, numero, ganhadora)).length }}</td>
                </tr>
            </tbody>
        </table>



    </div>
    <div class="col-md-6">
        <div class="list-group">
            <div class="list-group-item">
                <button type="button" class="btn btn-lg btn-primary" ng-click="getJogos()">
                    Buscar Jogos Salvos
                </button>
                <button type="button" ng-show="iszip" class="btn btn-lg btn-primary" ng-click="updateJogo()">
                    Atualizar do Zip
                </button>
            </div>
        </div>
        <div class="list-group list-jogos">
            <div class="list-group-item active">
                <input type="text" style="color: #FFFFFF;" ng-model="searchtext.concurso" class="form-control search-bar" placeholder="Buscar pelo concurso" aria-describedby="basic-addon1">
            </div>
            <div class="list-group-item">
                <label class="control-label">Ordenar por:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <label class="checkbox-inline">
                    <input type="radio" checked name="optradio" ng-click="order('concurso')">Concurso
                    <span class="sortorder" ng-show="predicate === 'concurso'" ng-class="{reverse:reverse}"></span>
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="optradio" ng-click="order('ganhadores15')">Ganhadores 15
                    <span class="sortorder" ng-show="predicate === 'ganhadores15'" ng-class="{reverse:reverse}"></span>
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="optradio" ng-click="order('rateio15')">Rateio 15
                    <span class="sortorder" ng-show="predicate === 'rateio15'" ng-class="{reverse:reverse}"></span>
                </label>
            </div>
            <div class="list-group-item" ng-repeat="jogo in jogos | filter:searchtext | orderBy:predicate:reverse  ">
                <h4>concurso: {{jogo.concurso}} - {{jogo.data}}</h4><br/>
                <label ng-repeat="bola in  jogo.listaBolas">{{bola}}&nbsp;</label>
                <br/>
                ganhadores de 15: {{jogo.ganhadores15}} - {{jogo.rateio15 | currency}}<br/>
                ganhadores de 14: {{jogo.ganhadores14}} - {{jogo.rateio14 | currency}}<br/>
                ganhadores de 13: {{jogo.ganhadores13}} - {{jogo.rateio13 | currency}}<br/>
                ganhadores de 12: {{jogo.ganhadores12}} - {{jogo.rateio12 | currency}}<br/>
                ganhadores de 11: {{jogo.ganhadores11}} - {{jogo.rateio11 | currency}}<br/>
            </div>
        </div>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td></td>
                <td ng-repeat="numbola in totalBolas">{{numbola}}</td>
            </tr>
            <tr ng-repeat="numero in numeros">
                <td>{{numero}}</td>
                <td ng-class="{'success' : ( jogos | filter: filterBolaOrdenada(numbola, numero, ganhadora)).length > 50}" ng-repeat="numbola in totalBolas">{{ ( jogos | filter: filterBolaOrdenada(numbola, numero, ganhadora)).length }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>