<div ng-controller="FacilCtrl">
    <h1 class="page-header">Facil</h1>
    <div class="list-group">
        <div class="list-group-item">
            1. baixe o zip aqui:
            <a href="http://www1.caixa.gov.br/loterias/_arquivos/loterias/D_lotfac.zip"
               download="D_lotfac.zip">
                D_lotfac.zip
            </a>
        </div>
        <div class="list-group-item">
            2. faça o upload do arquivo aqui:
            <input type="file" fileread="arquivo">
        </div>
        <div class="list-group-item" id="tabela">

        </div>
    </div>
</div>